In [4]:
import re
import pandas as pd

In [5]:
academic = []
government = []
corporate = []
hospital = []

lookup = {'Academic': academic, 'Government': government, "Corporate": corporate, 'Hospital': hospital}

def add_to_list(item, category):
    lookup[category].append(item)

with open('AcadCorpGovIndiv.txt', 'rb') as myfile:
    category = None
    for line in myfile.readlines():
        if line.startswith("*"):
            category = line[2:].strip("\r\n")
            if category == 'People':
                break
        if not line.startswith("*"):
            add_to_list(line[6:].strip("\r\n"), category)

In [15]:
government.append("represented")
government.append("Department of")
government.append("United States of America")
academic.append("Institute")
academic.append()
academic += ['Massachusetts Institute of Technology', 
        
'California Institute of Technology',
             
             
Battelle Memorial Institute
The Scripps Research Institute
The Salk Institute for Biological Studies
             
             
The Government of the United States of America, as represented by the Secretary of Commerce, The National Institute of Standards and Technology
Dana-Farber Cancer Institute, Inc.
Sloan-Kettering Institute for Cancer Research
Midwest Research Institute
Southwest Research Institute
Whitehead Institute for Biomedical Research
Rensselaer Polytechnic Institute (RPI)
National Institutes of Health

In [16]:
academic_regex = re.compile("|".join(academic))

In [17]:
government_regex = re.compile("|".join(government))

In [18]:
corporate_regex = re.compile("|".join(corporate))
hospital_regex = re.compile("|".join(hospital))

In [19]:
def org_types(text):
    if text == "":
        return "Ambiguous"
    academic = bool(re.search(academic_regex, text))
    government = bool(re.search(government_regex, text))
    corporate = bool(re.search(corporate_regex, text))
    hospital = bool(re.search(hospital_regex, text))
    total = academic + government + corporate + hospital
    if total > 1:
        return "Ambiguous"
    if academic: 
        return "Academic"
    if government:
        return "Government"
    if corporate:
        return "Corporate"
    if hospital:
        return "Hospital"
    else:
        return "Corporate"

In [20]:
data = pd.read_csv('F:\Govt_Int\Final_CSVS/assignee_type.csv')
data['organization'] = data['organization'].fillna("")
data = data.dropna()
data['thes_types'] = data['organization'].apply(lambda x : org_types(x))

In [21]:
data[data['thes_types'] == 'Corporate'].head(30)

,patent_id,assignee_type,organization,thes_types
0,3930295,2.0,Signetics Corporation,Corporate
1,3930295,2.0,Watkins-Johnson,Corporate
3,3930366,2.0,General Motors Corporation,Corporate
22,3930848,2.0,United Technologies Corporation,Corporate
25,3931325,2.0,The Dow Chemical Company,Corporate
27,3931354,2.0,TRW Inc.,Corporate
34,3931513,2.0,Ampex Corporation,Corporate
46,3931687,2.0,Clark Equipment Company,Corporate
55,3932226,2.0,RCA Corporation,Corporate
65,3932597,2.0,Hughes Aircraft Company,Corporate
70,3932738,2.0,The Singer Company,Corporate
72,3932777,2.0,Bliley Electric Company,Corporate
76,3932873,2.0,RCA Corporation,Corporate
89,3933481,2.0,GENERAL ELECTRIC COMPANY,Corporate
108,3934170,2.0,"Varian Associates, Inc.",Corporate
124,3934845,2.0,Northrop Corporation,Corporate
126,3934902,2.0,RCA Corporation,Corporate
127,3934922,2.0,"Aerovironment, Inc.",Corporate
133,3935219,2.0,Purdue Research Laboratory,Corporate
137,3935457,2.0,Wisconsin Alumni Research Foundation,Corporate
140,3935543,2.0,Northrop Corporation,Corporate
143,3935572,2.0,Hughes Aircraft Company,Corporate
148,3936015,2.0,United Technologies Corporation,Corporate
152,3936216,2.0,United Technologies Corporation,Corporate
161,3936656,2.0,United Technologies Corporation,Corporate
181,3936942,0.0,National Aeronautics and Space Administration ...,Corporate
203,3937619,2.0,"Manlabs, Incorporated",Corporate
210,3937874,2.0,GENERAL ELECTRIC COMPANY,Corporate
260,3938868,2.0,The Boeing Company,Corporate
273,3939098,2.0,RCA Corporation,Corporate

In [61]:
data.to_csv('F:\Govt_Int\Final_CSVS/assignees_lookedup_types.csv')

In [37]:
int(True + True)

2