# load-csv-into-rdb
SanjayKAroraPhD@gmail.com <br>
February 2019

## Description
Load a csv into a pandas dataframe and persist to a mysql db

In [58]:
import pandas as pd
import csv 
from pandas.io import sql
from sqlalchemy import types, text, create_engine
import math
import pprint

In [59]:
CORRECT_FILE = '/Users/sanjay/dev/EAGER/code/patents/assignees_needing_correcting.csv'
ENGINE = create_engine('mysql://root:innovate@localhost/patents_20181127?charset=utf8', encoding='utf-8')
CON = ENGINE.connect()

pp = pprint.PrettyPrinter()

In [43]:
table_df = pd.read_csv(CORRECT_FILE, sep=',', encoding='utf-8', warn_bad_lines=True, error_bad_lines=False)
table_df.head()

                       lookup_firm  touched
0                           ABB AB      1.0
1                   ABB Technology      1.0
2    Adaptive Biotechnologies Corp      1.0
3  Advanced Cardiovascular Systems      1.0
4                  AGFA-GEVAERT NV      1.0

In [61]:
lookup_firm = table_df['lookup_firm']
out_rows = []

for lf in lookup_firm: 
    print (lf)
    firm_short = lf.split()
    firm_short = (' ').join (firm_short [0: math.ceil(len(firm_short) / 2.0)])
    print (firm_short)
    
    query = text ("SELECT ac.organization_clnd, count(pa.patent_id) cpid "
                "FROM assignee_clnd ac, patent_assignee pa "
                 "WHERE organization_clnd LIKE :fs "
             "AND ac.id = pa.assignee_id "
             "GROUP BY organization_clnd " 
             "ORDER BY cpid desc "
             "LIMIT 5;")

    print (query)
    rs = CON.execute(query, fs=firm_short + ' %').fetchall()
    # build list with lf, firm_short, and top n results

    out_row = [lf, firm_short]
    for (organization_clnd, cpid) in rs:
        out_row.append (organization_clnd + '|' + str(cpid))
    
    out_rows.append (out_row)
    break

ABB AB
ABB
SELECT ac.organization_clnd, count(pa.patent_id) cpid FROM assignee_clnd ac, patent_assignee pa WHERE organization_clnd LIKE :fs AND ac.id = pa.assignee_id GROUP BY organization_clnd ORDER BY cpid desc LIMIT 5;

In [62]:
pp.pprint (out_rows)

[['ABB AB',
  'ABB',
  'Abbott Laboratoies|3922',
  'ABB|1215',
  'ABB Technologies AG|1047',
  'Abbott Cardiobascular Systems|1012',
  'ABB Research|983']]

In [9]:
table_df.to_sql(name=table_name,con=CON,if_exists='replace', index=False, 
                dtype={'id': types.NVARCHAR(length=36)}
               )

In [ ]:
CON.close()